<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthy Fridge Map</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon/hf_logo.png' %}" type="image/png">
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'stylesheets/map/map_desktop.css' %}"/>
</head>
<body>
{% include 'components/navbar.html' %}
<form hx-get="./update_distance_matrix" hx-target="#response" hx-swap="innerHTML">
    <label for="date">Bereken afstanden tussen locaties (updaten na toevoegen/aanpassen van locatie) </label>
    <button type="submit">Bereken</button>
</form>
<div id="response"></div>
<div class="map-container">
    {{ map|safe }}
</div>
</body>
</html>