.route-response {
    max-width: 25%;
    float: left;
}

.map-div {
    width: 75%;
    float: right;
}

.body-container {
    display: flex;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.left-container {
    padding: 1px;
    width: 25%;
    min-height: 470px;
}

.right-container {
    padding: 1px;
    width: 75%;
    min-height: 470px;
}
