{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon/hf_logo.png' %}" type="image/png">
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
    <title>Checks</title>
</head>
<body>
{% include 'components/navbar.html' %}
<form hx-get="./check_distance_matrix" hx-target="#response" hx-swap="innerHTML">
    <label for="date">Controleer distance matrix </label>
    <button type="submit">Controleer</button>
</form>
<div id="response">
    {% if response %}
        <ul>
            {% for key, value in response.items %}
                <li>{{ key }}asdf
                    <ul>
                        {% for inner_key, inner_value in value.items %}
                            <li>{{ inner_key }}asdfasdfe: {{ inner_value }}SAASDF</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
</html>