{% if routes %}
    <div class="route-response">
        <div>Routes voor dag: {{ day }}</div>
        {% for id, route in routes.items %}
            <div style="display: inline-block; clear:both; outline: 1px solid black; margin-bottom: 5px">
                <h5>Route ID: {{ route.id }}</h5>
                <p><b>Name:</b> {{ route.name }} <br>
                    <b>Chauffeur:</b> {{ route.operator }}</p>
                <hr>
                {% for location_id, location in route.locations.items %}
                    <p>
                        <b>Shortcode:</b> {{ location.name }} - <b>Locatie:</b> {{ location.address }}
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="map-div">
        {{ map|safe }}
    </div>
{% else %}
    <div>Geen routes gevonden</div>
{% endif %}